policies:
  - url: quay.io/complytime/policies-ampel-branch-protection:latest
    id: {{ ampel_policy_id | default('ampel-bp') }}
targets:
{% for repo in ampel_targets %}
  - id: {{ repo.id }}
    policies:
      - {{ ampel_policy_id | default('ampel-bp') }}
    variables:
      url: {{ repo.url }}
      specs: {{ repo.specs }}
{% if repo.branches is defined %}
      branches: {{ repo.branches }}
{% endif %}
{% if repo.platform is defined %}
      platform: {{ repo.platform }}
{% endif %}
{% if repo.access_token is defined %}
      access_token: {{ repo.access_token }}
{% endif %}
{% endfor %}
